@import "tailwindcss";

@theme {
  --font-manrope: Manrope, sans-serif;
  --font-space-grotesk: "Space Grotesk", sans-serif;
  --font-noto-sans: "Noto Sans", sans-serif;

  --color-primary: #13ec5b;
  --color-background-light: #f6f8f6;
  --color-background-dark: #102216;
  --color-surface-dark: #1a2e22;
  --color-surface-light: #ffffff;
}

/* Qo'shimcha CSS qoidalaringiz */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Manrope", sans-serif;
}
